<footer>
    <div class="creditos">
        Prêmio Veículos
    </div>
    <div class="redes">
        <a href="#">
            <img src="icones/facebook.png" alt="">
        </a>
        <a href="#">
            <img src="icones/twitter.png" alt="">
        </a>
        <a href="#">
            <img src="icones/instagram.png" alt="">
        </a>
    </div>
    <div class="creditos">
        Desenvolvido por João Pedro
    </div>
    <div class="redes">
        <a href="#">
            <img src="icones/instagram.png" alt="">
        </a>
        <a href="#">
            <img src="icones/github-wht.png" style="color: wheat;" alt="">
        </a>
    </div>
</footer>