{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <div style="margin: auto; width: 500px;">
        <form action="{% url 'login' %}" method="post" class="galeria_veiculos">
            {% csrf_token %}
            <div>
                {% for field in form %}
                <div>
                    {{field}}
                </div>
                {% endfor %}
                <button type="submit" style="margin: auto; width: 500px;">Login</button>
            </div>
            {% for error in field.errors %}
            <div>
                {{error}}
            </div>
            {% endfor %}
        </form>
    </div>
<footer style="background-color: black; position: fixed;">
<p>Hello</p>
</footer>
{% endblock %}