{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
        <form action="{% url 'login' %}" method="post" class="galeria_veiculos">
            {% csrf_token %}
            <div class="row" style="margin: auto;">
                {% for field in form %}
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    {{field}}
                </div>
            {% for error in field.errors %}
            <div class="alert alert-danger" style="margin: auto;">
                {{error}}
            </div>
            {% endfor %}
            {% endfor %}
            <button class="btn btn-danger col-3" type="submit" style="margin: auto;">Login</button>
        </form>
{% endblock %}