{% extends 'shared/base.html'%}
{% load static %}
{% block title %}
Financiamento
{% endblock title %}
{% block content %}
<form action="" method="post" class="wizard_forms">
    {% csrf_token %}
    
    {% if wizard.steps.current == '0' %}
    <h4>Detalhes do veiculo</h4>
    {% else %}
    <h4>Dados do cliente</h4>
    {% endif %}

    {{ wizard.management_form }}
    {% for field in form %}
    <div class="row">
        <div class="col">
            <label for="field.id">{{field.label}}</label>
            {{field}}
        </div>
    </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-danger">Próximo</button>
</form>
{% endblock %}