{%extends 'shared/base.html'%}
{% load static %}

{% block title %} Contato {% endblock title %}

{% block content %}
<br>
<article class="info_grid">
    <h1>A PRÊMIO VEÍCULOS VEM DESDE 1987 FAZENDO BONS NEGÓCIOS E AGREGANDO AMIGOS.</h1>
    <div class="slideshow-container">
        <img src="{% static 'assets/imagens/fachada.jpg' %}" alt="">
    </div>
    
    <h3>HORÁRIO DE ATENDIMENTO:</h3>
        <p>Estamos aberto em <strong>horário comercial</strong>, com atendimento restritivo em decorrência da pandemia e para a segurança de todos.</p>
        <p>Nossos canais digitais estão disponíveis 24 horas por dia.</p>
        <p>Fique a vontade para fazer consultas, simulações de financiamentos e tirar dúvidas.</p>
    
    
    <ul>
        <li>WHATSAPP - (51) 999865797 -VIVO</li>
        <li>FIXO - (51) 33363058 COMERCIAL</li>
        <li>E-MAIL - 1: <a href="mailto:gilmar@premioveiculos.com.br">gilmar@premioveiculos.com.br</a></li>
        <li>E-MAIL - 2: <a href="mailto:vendas@premioveiculos.com.br">vendas@premioveiculos.com.br</a></li>
    </ul>
</article>
<br>
{% include 'partials/_footer.html' %}
{% endblock %}
