{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
{{fotografia.nome}}
{% endblock title %}
{% block content %}
<!-- LOGICA DE SLIDE SHOW -->
{% if tem_imagens %}
<div class="slideshow-container">
    <div class="mySlides" >
        <img src="{{fotografia.foto.url}}" alt="Foto">
    </div>
    {% for index, pics in imagens %}
    <div class="mySlides" >
        <img src="{{pics.imagem.url}}" alt="Foto">
    </div>
    {% endfor %}
    <span class="prev" ><a onclick="plusSlides(-1)">&#10094;</a></span>
    <span class="next" ><a onclick="plusSlides(1)">&#10095;</a></span>
    <div class="card__titulo" >
        {{fotografia.nome}} /
        {{fotografia.ano}} /
        {{fotografia.combustivel}} 
    </div>
    <div class="card__titulo">
        R$ {{fotografia.show_preco}}
    </div>
    <div class="card__titulo">
        {%if fotografia.descricao%}
        {{fotografia.descricao}}
        <div class="card__titulo">
            <a href="{%url 'contato' %}">Contate-nos</a> para saber mais!
        </div>
        {% else %}
        <a href="{%url 'contato' %}">Contate-nos</a> para saber mais!
        {% endif %}
    </div>
    <br>
</div>

{% else %}
<div class="slideshow-container">
    <div class="mySlides" >
        <img src="{{fotografia.foto.url}}" alt="Foto">
    </div>
    <div class="card__titulo" >
        {{fotografia.nome}} /
        {{fotografia.ano}} /
        {{fotografia.combustivel}}
    </div>
    <div class="card__titulo">
        R$ {{fotografia.show_preco}}
    </div>
    <div class="card__titulo">
        {%if fotografia.descricao%}
        {{fotografia.descricao}}
        <div class="card__titulo">
            <a href="{%url 'contato' %}">Contate-nos</a> para saber mais!
        </div>
        {% else %}
        <a href="{%url 'contato' %}">Contate-nos</a> para saber mais!
        {% endif %}
    </div>
    <br>
</div>
{% endif %}
{% if request.user.is_authenticated %}

<section class="info_flex">
    <div class="btn btn-outline-success my-2 my-sm-0" id="add">
        <a href="{%url 'add_imagem' fotografia.id %}">
            Adicionar Fotos
        </a>
    </div>
    <br>
    <div class="btn btn-outline-danger my-2 my-sm-0" id="remove">
        <a href="{%url 'deletar_veiculo' fotografia.id %}" onclick="return confirm('Isso irá excluir todos os dados do veículo! Deseja prosseguir ?')">
            Deletar Veículo
        </a>
    </div>
</section>
<br>

{% endif %}
<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
}
</script>
{%include 'partials/_footer.html' %}
{% endblock %}

