{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<img class="foto" src="{{fotografia.foto.url}}" alt="Fotografia de Veículo">
{% if request.user.is_authenticated %}
<a href="{%url 'add_imagem' fotografia.id %}">Nova foto</a>
<a href="{%url 'deletar_veiculo' fotografia.id %}">Deletar veiculo</a>
{% else %}
{% endif %}
{% for pics in imagens %}
{% if pics %}
<img src="{{pics.imagem.url}}" alt="">
{% else %}
<h1>Sem fotos adicionais</h1>
{% endif %}
{% endfor %}

{% endblock %}

