{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<!-- LOGICA DE SLIDE SHOW -->
{% if tem_imagens %}
<div class="slideshow-container">
    {% for index, pics in imagens %}
    <div class="mySlides" >
        <img src="{{pics.imagem.url}}" alt="Foto">
    </div>
    {% endfor %}
    <span class="prev" ><a onclick="plusSlides(-1)">&#10094;</a></span>
    <span class="next" ><a onclick="plusSlides(1)">&#10095;</a></span>
    <div class="card__titulo">
        {{fotografia.nome}}
    </div>
    <div class="card__titulo">
        {{fotografia.ano}}
    </div>
    <div class="card__titulo">
        {{fotografia.combustivel}}
    </div>
    
</div>
<br>

{% else %}
<p>Sem imagens</p>
{% endif %}
{% if request.user.is_authenticated %}

<div class="btn btn-outline-success my-2 my-sm-0" id="add"><a href="{%url 'add_imagem' fotografia.id %}">Click me</a></div>
<div class="btn btn-outline-danger my-2 my-sm-0" id="remove"><a href="{%url 'deletar_veiculo' fotografia.id %}" onclick="return confirm('Deseja prosseguir ?')">Deletar me</a></div>

{% endif %}
<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
}
</script>

{% endblock %}

