{% extends 'shared/base.html'%}
{% load static %}
{% block content %}
<main class="principal">
    <section class="galeria_veiculos">
        <div class="cards_veiculos" !important>
            <h3>Apresentação dos veiculos</h3>
            <ul class="veiculos_lista">
                
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="march.jpg" alt="" srcset="">
                        <div class="card__info">
                            <p class="card__titulo">{{ fotografia.nome }}</p>
                        </a>
                            <div class="card__texto">
                            <span>
                                <label for="">Preço:</label>
                                dasdasdsadsadsa
                            </span>
                            <span>
                                <label for="">Preço:</label>
                                asdasdasdasdasdas
                            </span>
                            <span>
                                <label for="">Preço:</label>
                                asdasdsadas
                            </span>
                            <span style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti alias eum minus quo, unde, ex pariatur, consectetur facere fugiat provident itaque natus. Soluta aliquam excepturi sunt porro, magnam vel voluptatum!
                            </span>
                </li>
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="renault.jpg" alt="" srcset="">
                        <div class="card__info">
                        <p class="card__titulo">{{ fotografia.nome }}</p>
                    </a>
                        <div class="card__texto">
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti alias eum minus quo, unde, ex pariatur, consectetur facere fugiat provident itaque natus. Soluta aliquam excepturi sunt porro, magnam vel voluptatum!
                        </span>
                </li>
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="uno.jpg" alt="" srcset="">
                        <div class="card__info">
                        <p class="card__titulo">{{ fotografia.nome }}</p>
                    </a>
                        <div class="card__texto">
                        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quis id delectus dignissimos iusto aliquam voluptatibus veritatis? Iste aspernatur aperiam vel pariatur nostrum, commodi dicta eum deleniti perspiciatis necessitatibus cum!</span>
                </li>
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="volks.jpg" alt="" srcset="">
                        <div class="card__info">
                        <p class="card__titulo">{{ fotografia.nome }}</p>
                    </a>
                        <div class="card__texto">
                        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quis id delectus dignissimos iusto aliquam voluptatibus veritatis? Iste aspernatur aperiam vel pariatur nostrum, commodi dicta eum deleniti perspiciatis necessitatibus cum!</span>
                    
                </li>
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="volks.jpg" alt="" srcset="">
                        <div class="card__info">
                        <p class="card__titulo">{{ fotografia.nome }}</p>
                    </a>
                        <div class="card__texto">
                        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quis id delectus dignissimos iusto aliquam voluptatibus veritatis? Iste aspernatur aperiam vel pariatur nostrum, commodi dicta eum deleniti perspiciatis necessitatibus cum!</span>
                    
                </li>
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="volks.jpg" alt="" srcset="">
                        <div class="card__info">
                        <p class="card__titulo">{{ fotografia.nome }}</p>
                    </a>
                        <div class="card__texto">
                        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quis id delectus dignissimos iusto aliquam voluptatibus veritatis? Iste aspernatur aperiam vel pariatur nostrum, commodi dicta eum deleniti perspiciatis necessitatibus cum!</span>
                </li>
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="volks.jpg" alt="" srcset="">
                        <div class="card__info">
                        <p class="card__titulo">{{ fotografia.nome }}</p>
                    </a>
                        <div class="card__texto">
                        <span style="text-align: justify;"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quis id delectus dignissimos iusto aliquam voluptatibus veritatis? Iste aspernatur aperiam vel pariatur nostrum, commodi dicta eum deleniti perspiciatis necessitatibus cum!</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quis id delectus dignissimos iusto aliquam voluptatibus veritatis? Iste aspernatur aperiam vel pariatur nostrum, commodi dicta eum deleniti perspiciatis necessitatibus cum!</p></span>
                    
                </li>
                <li class="veiculo">
                    <a href="#">
                        <img class="foto" src="volks.jpg" alt="" srcset="">
                        <div class="card__info">
                        <p class="card__titulo">{{ fotografia.nome }}</p>
                    </a>
                        <div class="card__texto">
                        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quis id delectus dignissimos iusto aliquam voluptatibus veritatis? Iste aspernatur aperiam vel pariatur nostrum, commodi dicta eum deleniti perspiciatis necessitatibus cum!</span>
                </li>
                <!-- TESTANDO SLIDE SHOW-->                    

                <!-- END TEST SLIDESHOW -->
            </ul>
        </div>
    </section>
</main>
{% include 'partials/_footer.html' %}
{% endblock %}


